URLSCAN_API_KEY=
CTLOGS_URLSCAN_APEXES=*
CTLOGS_URLSCAN_DAILY_LIMIT=100000
CTLOGS_URLSCAN_SEARCH_DAILY_LIMIT=10000
CTLOGS_URLSCAN_PRIORITY_DAILY_LIMIT=20000
CTLOGS_SCHEDULED_ARTIFACTS=[]
CZDS_USERNAME=
CZDS_PASSWORD=
